
#container {
    display: grid;
    margin: 0 30%;
}

.grid-item {
    border-style: solid;
    border-color: black;
    margin: 5px;
}

.active-pixel {
    background-color: yellow;
}

.inactive-pixel {
    background-color: black;
}