
#container {
    display: grid;
    grid-template-rows: repeat(16, 50px);
    grid-template-columns: repeat(16, 1fr);
    margin: 0 30%;
}

.grid-item {
    border-style: solid;
    border-color: black;
    margin: 5px;
}

.active-pixel {
    background-color: yellow;
}

.inactive-pixel {
    background-color: black;
}