body {
    display: grid;
    align-content: center;
    justify-content: center;
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

.buttons {
    margin: 20px 0;
}

.buttons > button {
    border-style: none;
    padding: 5px 20px;
    background-color: #30011E;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.active-pixel {
    background-color: #30011E;
}

.inactive-pixel {
    background-color: #D7FCD4;
}

.info-size-grid {
    color: #30011E;
    font-weight: bold;
}